<template name="document">
    <div id="documentPanel" class="panel">
        <div class="panel-heading">
            <div class="panel-title">
                <div class="pull-left">
                    <h5><span class="glyphicon glyphicon-file"></span>&nbsp;Requirements</h5>
                </div>
                <div class="pull-right">
                    <form novalidate>
                        <div class="btn-group btn-group-sm" role="group">
                            <span class="btn btn-default btn-file {{#unless isActiveProject}}disabled{{/unless}}">
                                &nbsp;<i class="fa fa-folder-open"></i>&nbsp;
                                <input id="chooseDoc"
                                       type="file"
                                       accept="text/plain"
                                       disabled="{{#unless isActiveProject}}disabled{{/unless}}">
                            </span>
                            <a id="plusBtn"
                               type="button"
                               class="btn btn-default {{#unless isActiveProject}}disabled{{/unless}}">
                                <span class="glyphicon glyphicon-zoom-in text-default"></span>
                            </a>
                            <a id="minusBtn"
                               type="button"
                               class="btn btn-default {{#unless isActiveProject}}disabled{{/unless}}">
                                <span class="glyphicon glyphicon-zoom-out text-default"></span>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div id="docContainer" style="font-size:14px">
                <div id="doc">{{{activeProjectDocument}}}</div>
            </div>
        </div>
    </div>
</template>
