<template name="main">
    <div class="container">
        <div class="title">
            <h3>AFRET</h3>
            <h5><span>A</span>ssistant <span>F</span>or <span>RE</span>quirement-Based <span>T</span>esting</h5>
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            {{> navigation}}
        </div>
        <div class="row">
            <div class="col-md-12"><br></div>
        </div>
        <div class="row">
            <div class="col-md-5">
                {{> tests}}
            </div>
            <div class="col-md-7">
                {{> document}}
            </div>
        </div>
    </div>
</template>