
<template name="navigation">
    <div id="navContainer">
        <div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-8 col-md-push-2 col-lg-8 col-lg-push-2">
            <!-- Display active project name -->
            <div class="text-primary">
                {{#if activeProject}}
                    <h4>{{activeProject.name}}</h4>
                {{/if}}
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-sm-pull-4 col-md-2 col-md-pull-8 col-lg-2 col-lg-pull-8">
            <div class="dropdown">
                <button class="btn btn-primary btn dropdown-toggle"
                        type="button"
                        data-toggle="dropdown"
                        style="width:100%">
                    Project <i class="fa fa-chevron-down"></i>
                </button>
                <ul id="navigationDropdown" class="dropdown-menu">
                    <li><a id="createProjectBtn"
                           href="#"
                           data-toggle="modal"
                           data-target="#createProjectModal">
                        Create</a>
                    </li>
                    {{#if activeProject}}
                        <li><a id="deleteProjectBtn" href="#">Delete</a></li>
                    {{/if}}
                    <li><a id="importProjectBtn" href="#">Import</a></li>
                    {{#if activeProject}}
                        <li><a id="exportProjectBtn" href="#">Export</a></li>
                        <li><a id="saveProjectBtn" href="#">Save</a></li>
                    {{/if}}
                    <li><a id="loadProjectBtn" href="#">Load</a></li>
                    <li class="divider"></li>
                    {{#each otherProjects}}
                        <li><a id="{{_id}}" class="otherProject" href="#">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-xs-6 col-sm-4 col-md-2 col-lg-2">
            <a id="reportBtn"
               href="{{pathFor route='report'}}"
               class="btn btn-primary"
               style="width: 100%">
                Report
            </a>
        </div>
        <!-- Create project modal submit form -->
        <div id="createProjectModal"
             class="modal fade"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Create Project</h3>
                    </div>
                    <div class="modal-body">
                        <form id="createProjectForm"
                              class="form-horizontal"
                              role="form">
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="projectName">Name:</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" id="projectName" placeholder="Enter name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="projectLang">Language:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="projectLang">
                                        <option>Python Unittest</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="projectLang">Agent:</label>
                                <div class="col-sm-8">
                                    <select class="form-control" id="agentURL">
                                        <option>http://localhost:3001/</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-2 col-sm-8">
                                    <button id="createProjectBtn" type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                class="btn btn-danger"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Load project modal list -->
        <div id="loadProjectModal"
             class="modal fade"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Load Project</h3>
                    </div>
                    <div class="modal-body">
                        <div id="savedProjectList" class="list-group">
                            <!-- saved projects -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="closeSavedProjectListBtn"
                                type="button"
                                class="btn btn-danger"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Delete project modal -->
        <div id="deleteProjectModal"
             class="modal fade"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Delete projectName
                    </div>
                    <div class="modal-footer">
                        <div class="row" style="text-align: center;">
                            <div class="col-md-6">
                                <button id="localDeleteBtn"
                                        type="button"
                                        class="btn btn-danger"
                                        data-dismiss="modal"
                                        style="width: 100%">
                                    Locally
                                </button>
                            </div>
                            <div class="col-md-6">
                                <button id="globalDeleteBtn"
                                        type="button"
                                        class="btn btn-danger"
                                        data-dismiss="modal"
                                        style="width: 100%">
                                    Globally
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Load project modal -->
        <div id="agentModal"
             class="modal fade"
             role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        Choose agent containing your project
                    </div>
                    <div class="modal-body">
                        <div id="agentList" class="list-group">
                            <!-- saved projects -->
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="closeAgentListBtn"
                                type="button"
                                class="btn btn-danger"
                                data-dismiss="modal">
                            Close
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
