<template name="report">
    <div class="container">
        {{#with project}}
            <h3>{{name}}'s Report</h3><hr>
            <table class="table table-sm headerTable">
                <tbody>
                    <tr>
                        <th class="headerCol1" scope="row">Language</th>
                        <td class="headerCol2">{{language}}</td>
                    </tr>
                    <tr>
                        <th class="headerCol1" scope="row">Created</th>
                        <td class="headerCol2">{{formatDate createdAt}}</td>
                    </tr>
                    <tr>
                        <th class="headerCol1" scope="row">Templated</th>
                        <td class="headerCol2">{{formatDate templatedAt}}</td>
                    </tr>
                    <tr>
                        <th class="headerCol1" scope="row">Executed</th>
                        <td class="headerCol2">{{formatDate executedAt}}</td>
                    </tr>
                    <tr>
                        <th class="headerCol1" scope="row">Passed Tests</th>
                        <td class="headerCol2">{{passedTests}}</td>
                    </tr>
                    <tr>
                        <th class="headerCol1" scope="row">Failed Tests</th>
                        <td class="headerCol2">{{failedTests}}</td>
                    </tr>
                    <tr>
                        <th class="headerCol1" scope="row">Total Tests</th>
                        <td class="headerCol2">{{totalTests}}</td>
                    </tr>
                </tbody>
            </table>
            <hr>
            <div class="container">
                <h4>Requirements</h4><br>
                <div id="reportDocument" class="col-md-12">{{{document}}}</div>
            </div>
        {{/with}}
        <hr>
        <div class="container">
            <h4>Test-Cases</h4>
            <table class="table table-hover testTable">
                <thead>
                    <tr>
                        <th class="col1">#</th>
                        <th class="col2">Test Name</th>
                        <th class="col3">Result</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each tests}}
                        <tr class="rowTest">
                            <th scope="row">{{inc @index}}</th>
                            <td class="testNameCol">{{name}}</td>
                            <td>{{#if result}}PASS{{else}}FAIL{{/if}}</td>
                        </tr>
                        {{#each lines}}
                            <tr class="rowLine">
                                <th scope="row">-</th>
                                <td colspan="2">{{content}}</td>
                            </tr>
                        {{/each}}
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</template>
