<template name="tests">
    <div id="tests2Table">
        <div class="panel">
            <table class="table table-condensed">
                <thead>
                    <tr valign="middle">
                        <!--<th class="testsCol0">#</th>-->
                        <th class="testsCol1">
                            <h5><i class="glyphicon glyphicon-tint"></i></h5>
                        </th>
                        <th class="testsCol2">
                            <h5><i class="glyphicon glyphicon-file"></i></h5>
                        </th>
                        <th class="testsCol3">
                            <h5><i class="glyphicon glyphicon-check"></i></h5>
                        </th>
                        <th class="testsCol4">
                            <h5>Test-Cases</h5>
                        </th>
                    </tr>
                </thead>
            </table>
            <div class="tc-body-container">
                <table class="table table-responsive">
                    <tbody id="tc-table-body">
                    {{#each testCase}}
                        <tr id="{{_id}}" class="tc {{getSelected}}" valign="middle">
                            <!--<th class="testsCol0" scope="row">{{inc @index}}</th>-->
                            <td class="testsCol1 td-color">
                                <i class="glyphicon glyphicon-stop" style="color:{{color}}"></i>
                            </td>
                            <td class="testsCol2 td-template">
                                {{#if projectTemplated}}
                                    <i class="glyphicon glyphicon-ok" style="color:#7fbf7b"></i>
                                {{else}}
                                    <i class="glyphicon glyphicon-remove" style="color:indianred"></i>
                                {{/if}}
                            </td>
                            <td class="testsCol3 td-execute">
                                {{#if executed}}
                                    {{#if error}}
                                        <i class="glyphicon glyphicon-alert" style="color:crimson"></i>
                                    {{else}}
                                        {{#if result}}
                                            <i class="glyphicon glyphicon-ok" style="color:#7fbf7b;"></i>
                                        {{else}}
                                            <i class="glyphicon glyphicon-remove" style="color:indianred;"></i>
                                        {{/if}}
                                    {{/if}}
                                {{/if}}
                            </td>
                            <td class="testsBodyCol4">
                                <div class="td-testName pull-left">
                                    {{> editableText
                                        eventType="dblclick"
                                        placeholder="Enter test-case name"
                                        collection="testCases"
                                        field="name" }}
                                </div>
                                <div class="td-removeBtn pull-right">
                                    <i class="removeBtn glyphicon glyphicon-remove-sign"></i>
                                </div>
                            </td>
                        </tr>
                    {{/each}}
                    </tbody>
                </table>
            </div>
            <table class="table table-responsive">
                <tfoot>
                    <tr>
                        <td align="center" colspan="2">
                            <button id="createTestBtn"
                                    type="button"
                                    class="btn btn-success {{#unless activeProject}}disabled{{/unless}}">
                                Create Test
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <button id="templateBtn"
                                    type="button"
                                    class="btn btn-primary {{#unless enableTemplateBtn}}disabled{{/unless}}">
                                Template
                            </button>
                        </td>
                        <td align="right">
                            <button id="executeBtn"
                                    type="button"
                                    class="btn btn-primary {{#unless enableExecuteBtn}}disabled{{/unless}}">
                                Execute
                            </button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</template>
