#doc {
    font-family: "Monaco", serif;
    width: 100%;
    height: 410px;
    overflow-y: auto;
    overflow-x: auto;
    word-wrap: break-word;
    resize: both;
    padding: 5px;
    font-size: inherit;
    white-space: pre-line;
    border-radius: 5px;
    background-color: #f8f8f8;
}
#doc span.docLine {
    background-color: #aaa;
    color: white;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 1px;
    cursor: crosshair;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
