h4, h3 {
    text-align: center;
}
.col1 {
    width: 10%;
}
.col2 {
    width: 80%;
}
.col3 {
    width: 10%;
}
#reportDocument {
    white-space: pre-line;
    word-wrap: break-word;
    overflow-y: auto;
    max-height: 800px;
}
table.testTable {
    width: 100% !important;
}
.testNameCol {
    font-weight: bold;
}
.rowTest {
    background-color: whitesmoke;
}
.rowLine {
    background-color: white;
}
.headerTable {
    width: 100% !important;
}
.headerCol1 {
    width: 15%;
}
.headerCol2 {
    width: 85%;
    text-align: left;
}
span.tPass::before {
    border: 1px solid #7fbf7b;
    padding-left: 1px;
    padding-right: 2px;
    content: "PASS";
    color: white;
    background-color: #7fbf7b;
}
span.tPass {
    border-bottom: 1px solid #7fbf7b;
    border-right: 1px solid #7fbf7b;
    border-top: 1px solid #7fbf7b;
}
span.tFail::before,
span.tError::before {
    border: 1px solid indianred;
    padding-left: 1px;
    padding-right: 2px;
    content: "FAIL";
    color: white;
    background-color: indianred;
}
span.tFail, span.tError {
    border-bottom: 1px solid indianred;
    border-right: 1px solid indianred;
    border-top: 1px solid indianred;
}
