.selected {
    background-color: whitesmoke !important;
}
input[type="text"] {
    background-color: ghostwhite;
    color: dimgrey;
}
td:focus,
input:focus,
#createTestBtn:focus,
#templateBtn:focus,
#executeBtn:focus {
    outline: none;
}
.panel {
    border: 1px solid darkgray !important;
}
.tc-body-container {
    height: 320px;
    overflow-y: auto;
    overflow-x: hidden;
}
td {
    vertical-align: middle;
}
.td-testName {
    padding-left: 15px;
    width: 88%;
}
.td-removeBtn {
    width: 12%;
    font-size:18px
}
.td-removeBtn > i,
.td-color > i {
    font-size: 18px;
}
.td-removeBtn > i:hover {
    color: crimson;
}
#templateBtn,
#executeBtn,
#createTestBtn {
    width: 100%;
}
i.hasTemplate,
i.executed {
    color: forestgreen;
}
i.noTemplate,
i.notExecuted {
    color: gray;
}
#tests2Table table {
    table-layout: fixed;
    width: 100%;
}
.testsCol0,
.testsCol1,
.testsCol2,
.testsCol3 {
    width: 8%;
    text-align: center;
}
.testsCol4 {
    width: 68%;
    text-align: center;
}
.testsBodyCol4 {
    width: 68%;
}
tr.tc:hover {
    background-color: whitesmoke;
}
.td-template > i,
.td-execute > i {
    font-size: 18px;
}
